.title {
  color: red;
  font-size: 18px;
  font-weight: bold;
  background-color: aqua;
}

.card {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#parent {
  padding: 10px;
  background-color: red;
}

#grandparent {
  padding: 10px;
  background-color: green;
}
