body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000038;
}

input {
    display: block;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #306af1;
    color: white;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background: #306af1;
    color: white;
}

.highlight {
    background-color: #b5fab0 !important;
}